name: Build and publish a Docker image to ghcr.io
on:

  # publish on releases, e.g. v2.1.13 (image tagged as "2.1.13" - "v" prefix is removed)
  release:
    types: [ published ]

  # publish on pushes to the main branch (image tagged as "latest")
  push:
    branches:
      - master

jobs:
  docker_publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      # https://github.com/marketplace/actions/push-to-ghcr
      - name: Build and publish a Docker image for elecena/socks5-server
        uses: macbre/push-to-ghcr@master
        with:
          image_name: elecena/socks5-server
          github_token: ${{ secrets.GITHUB_TOKEN }}
